# Gradle files
.gradle/
build/
**/build/
!gradle-wrapper.jar

# Android Studio specific
.idea/
*.iml

# Local configuration files
local.properties

# Log files
*.log

# APKs
app/release/
app/debug/

# Temporary files
*.tmp
*.swp
.DS_Store

# Keystore files
*.jks
*.keystore

# NDK and caches
.cxx/
app/src/main/assets/models/intent_mobilebert_int8.tflite
gradle-8.7-bin.zip
app/src/main/assets/models/intent_mobilebert_int8.tflite
